
<div class="row-fluid">
	<div class="span6">
		<div>
			<div>
				<h4 class="dark">
					<strong>About</strong>
				</h4>
			</div>
			<div>
				<div>
					<div>
						<p><strong>GAPE</strong> is a Domain Specific Language, for the <a href="https://developers.google.com/appengine/" target="_blank">Google App Engine</a> Java platform  
						created with <a href="http://www.eclipse.org/Xtext/" target="_blank">XText</a>. The <strong>limited expressiveness</strong> provides 
						a way to clearly define what-the-system-is and what-the-system-does.
						</p>
		    		</div>
		    	</div>	
			</div>
		</div>
	</div>
    <div class="span6">
        <div>
            <h4 class="dark">
                <strong>Soruce Code</strong>
            </h4>
        </div>
        <p>ToDo application <strong>.GAPE</strong> source code.</p>
<pre class="prettyprint prettyprinted" style=""><span class="lit">/*  ToDo Application */</span><span class="pln">
</span><strong><span class="kwd">module</span></strong><span class="pln"> dom </span><strong style="color:red"><span class="kwd">version</span></strong><span class="pln"> </span><span class="lit">1.0</span><strong><span class="pln"> </span><span class="kwd">target</span></strong><span class="pln"> </span><span class="lit">appengine-jdo</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
   </span><strong><span class="kwd">object</span></strong><span class="pln"> </span><span class="typ">ToDo</span><strong><span class="pln"> </span><span class="kwd">requires</span></strong><span class="pln"> ToDoContract</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">String</span><span class="pln"> description </span><span class="pln">
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">String</span><span class="pln"> category
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">Date</span><span class="pln"> dueBy
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">Boolean</span><span class="pln"> complete
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">String</span><span class="pln"> notes
      </span><strong><span class="kwd">property</span></strong><span class="pln"> </span><span class="typ">Set</span><todo><span class="pln"> dependencies
      </span><strong><span class="kwd">virtual</span></strong><span class="pln"> </span><span class="typ">String</span><span class="pln"> title
      </span><strong><span class="kwd">virtual</span></strong><span class="pln"> </span><span class="typ">List</span><todo><span class="pln"> similarTo
      </span><strong><span class="kwd">virtual</span></strong><span class="pln"> </span><span class="typ">List</span><todo><span class="pln"> eligible
      </span><strong><span class="kwd">method</span></strong><span class="pln"> </span><span class="typ">Boolean</span><span class="pln"> changeStatus</span><span class="pun">(</span><span class="typ">Boolean</span><span class="pln"> </span><span class="pln">status</span><span class="pun">)</span><span class="pln">
         </span><strong><span class="kwd">for</span></strong><span class="pln"> </span><span class="typ">Complete</span><span class="pun">,</span><span class="pln"> </span><span class="typ">Incomplete</span><span class="pln">
      </span><strong><span class="kwd">interaction</span></strong><span class="pln"> </span><span class="typ">Complete</span><span class="pln"> </span><span class="pun">{</span><span class="pln"> </span><span class="pun">}</span><span class="pln">
      </span><strong><span class="kwd">interaction</span></strong><span class="pln"> </span><span class="typ">Incomplete</span><span class="pln"> </span><span class="pun">{</span><span class="pln"> </span><span class="pun">}</span><span class="pln">
   </span><span class="pun">}</span><span class="pln">
</span><span class="pun">}</span><span class="pln">
</span></todo></todo></todo></pre>


    </div>
</div>
