<!DOCTYPE html>
<html lang="en" ng-app="gape" >
    <head>
        <title>GAPE ToDo Sample Application</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/custom.css" rel="stylesheet">

    </head>
    <body ng-controller="ToDosCtrl">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">
                    <small>
                        <i class="icon-cog"></i>
                        .GAPE
                    </small>
                </a>
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            ToDos
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="allToDos()">
                                    <i class="icon-double-angle-right"></i>
                                    All ToDos
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <tabset>
                        <tab ng-repeat="tab in tabs" active="tab.active" select="notifyTab()">
                            <tab-heading><i class="green {{tab.icon}}"></i>&nbsp;{{tab.title}}&nbsp;<a ng-show="tab.id!='welcome'" ng-click="$parent.removeTab(tab)" href=''><i class="icon-remove"></i></a></tab-heading>
                            <div ng-include="tab.page"></div>
                        </tab>
                    </tabset>
                </div><!--/.span-->
            </div><!--/.row-fluid-->
        </div>

        <script src="assets/js/jquery-2.0.3.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <!--page specific plugin scripts-->
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/angular-locale_en-us.js"></script>
        <script src="assets/js/angular-resource.js"></script>
        <script src="assets/js/ui-bootstrap-tpls-0.6.0.js"></script>
        <script src="assets/js/bootstrap-dropdown.js"></script>

        <script src="application.js"></script>

    </body>
</html>